<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.miniprojet.androidVox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- some devices need read permission to create folders or files -->
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- needed by background Rtp service to keep service alive -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Optional for play store -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".VoxClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miniprojet">

        <activity
            android:name=".activities.SignInUp.Profile_compelation"
            android:exported="true"
            android:theme="@style/Theme.nostatusbar" />
        <activity
            android:name=".activities.BroadcastStreaming.BroadcastMain"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Brodcast" />
        <activity
            android:name=".activities.SignInUp.oAuths"
            android:exported="true"
            android:theme="@style/Theme.nostatusbar" />
        <activity
            android:name=".retrofit.RealmDB"
            android:exported="false" />
        <activity
            android:name=".activities.Homepage.HomePage"
            android:exported="true"
            android:theme="@style/Theme.AppHome" />
        <activity
            android:name=".activities.Chat.ChatMain"
            android:exported="true"
            android:theme="@style/Theme.nostatusbar" />
        <activity
            android:name=".activities.welcome.WelcomePage"
            android:exported="false"
            android:theme="@style/Theme.welcomePage" />
        <activity
            android:name=".activities.profileSettings.ProfileSettings"
            android:exported="true" />
        <activity
            android:name=".app.OnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".app.LaunchScreen"
            android:exported="true"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OTP.OTPSecondStep"
            android:exported="true"
            android:theme="@style/Theme.welcomePage" />
        <activity
            android:name=".activities.OTP.OTPFirstStep"
            android:exported="true"
            android:theme="@style/Theme.welcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInUp.Sign_In"
            android:exported="true"
            android:theme="@style/Theme.welcomePage" />
        <activity
            android:name=".activities.SignInUp.Sign_Up"
            android:exported="true"
            android:theme="@style/Theme.welcomePage" />
        <activity
            android:name=".activities.BroadcastStreaming.customexample.RtmpActivity"
            android:label="@string/rtmp_streamer"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Brodcast" />
        <activity
            android:name=".activities.BroadcastStreaming.customexample.RtspActivity"
            android:label="@string/rtsp_streamer"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Brodcast" />
        <activity
            android:name=".activities.BroadcastStreaming.defaultexample.ExampleRtspActivity"
            android:label="@string/default_rtsp"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Brodcast" />
        <activity
            android:name=".activities.BroadcastStreaming.defaultexample.ExampleRtmpActivity"
            android:label="@string/default_rtmp"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Brodcast" />
        <activity
            android:name=".activities.LiveStreamChatInteraction.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VirtualEvent.BlackStatusBar" />
        <activity
            android:name=".activities.LiveStreamChatInteraction.feature.event.detail.EventDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.VirtualEvent.BlackStatusBar" />

<!--        <activity-->
<!--            android:name=".activities.Podcast.ui.MainPodcastActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="fullSensor"-->
<!--            android:theme="@style/Theme.Podcast.Launch"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:host="www.listennotes.com"-->
<!--                    android:pathPrefix="/e"-->
<!--                    android:scheme="https" />-->
<!--            </intent-filter>-->

<!--        </activity>-->
<!--        <receiver android:name="androidx.media.session.MediaButtonReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MEDIA_BUTTON" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <service-->
<!--            android:name="com.projet.miniprojet.androidVox.activities.Podcast.data.service.MediaPlayerService"-->
<!--            android:exported="false"-->
<!--            android:enabled="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.media.browse.MediaBrowserService" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <activity android:name=".activities.PodcastV2.ui.PodcastActivity" android:launchMode="singleTop" android:theme="@style/Theme.AppCompat.NoActionBar" android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <service
            android:exported="true"
            android:name=".activities.PodcastV2.Service.EpisodeUpdateService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:name=".activities.PodcastV2.Service.PodplayMediaService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>