<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet.miniprojet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Miniprojet">
        <activity
            android:name=".androidVox.app.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".androidVox.app.LaunchScreen"
            android:exported="true"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".androidVox.activities.OTP.OTPSecondStep"
            android:exported="true" />
        <activity
            android:name=".androidVox.activities.OTP.OTPFirstStep"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>